html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.color--main-blue {
	color: #033963;
}
.color--main-red {
	color: #a90b0b;
}
header.header {
	overflow: hidden;
	position: relative;
}
header.header .header__title {
	font-size: 1vw;
	font-weight: bold;
	position: absolute;
	top: 1%;
	left: 5%;
	max-width: 100%;
	width: 30vw;
}
@media screen and (max-width: 767px) {
	header.header .header__title {
		width: 40vw;
	}
	header.header .header__title img {
		width: 20vw;
	}
}
header.header .header__tel {
	position: absolute;
	top: 0;
	right: 5%;
	width: 30vw;
	max-width: 300px;
}
@media screen and (max-width: 767px) {
	header.header .header__tel {
		width: 40vw;
	}
}
header.header .mv-pc .mv_catch {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40vw;
}
header.header .mv-pc .mv_character {
	position: absolute;
	bottom: -12%;
	left: 42%;
	z-index: 6;
	width: 15vw;
}
header.header .mv-pc .mv_gomi {
	position: absolute;
	bottom: -6%;
	left: 31%;
	z-index: 2;
	width: 17vw;
}
header.header .mv-pc .mv_renji {
	position: absolute;
	bottom: 0;
	left: 61%;
	z-index: 4;
	width: 10vw;
}
header.header .mv-pc .mv_saiyasu {
	position: absolute;
	bottom: 35%;
	left: 55%;
	z-index: 4;
	width: 13vw;
}
header.header .mv-pc .mv_suihanki {
	position: absolute;
	bottom: -1%;
	left: 24%;
	z-index: 3;
	width: 7vw;
}
header.header .mv-pc .mv_tana {
	position: absolute;
	bottom: -6%;
	left: 52%;
	z-index: 5;
	width: 10vw;
}
header.header .mv-pc .mv_tashayori {
	position: absolute;
	bottom: 27%;
	left: 10%;
	z-index: 0;
	width: 39vw;
}
header.header .mv-pc .mv_tv {
	position: absolute;
	bottom: 5%;
	left: 30%;
	z-index: 1;
	width: 10vw;
}
header.header .mv-pc .mv_zero {
	position: absolute;
	bottom: 10%;
	left: 67%;
	z-index: 5;
	width: 29vw;
}
header.header .mv-sp .mv_catch {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90vw;
}
header.header .mv-sp .mv_character {
	position: absolute;
	bottom: -5%;
	left: 32%;
	z-index: 6;
	width: 35vw;
}
header.header .mv-sp .mv_gomi {
	position: absolute;
	bottom: 0;
	left: 10%;
	z-index: 2;
	width: 40vw;
}
header.header .mv-sp .mv_renji {
	position: absolute;
	max-width: 100px;
	bottom: 3%;
	right: -2%;
	z-index: 4;
	width: 20vw;
}
header.header .mv-sp .mv_saiyasu {
	position: absolute;
	max-width: 180px;
	bottom: 29%;
	left: 65%;
	z-index: 6;
	width: 33vw;
}
header.header .mv-sp .mv_suihanki {
	position: absolute;
	bottom: 2%;
	left: -1%;
	z-index: 1;
	width: 15vw;
}
header.header .mv-sp .mv_tana {
	position: absolute;
	bottom: 1%;
	left: 62%;
	z-index: 5;
	width: 28vw;
}
header.header .mv-sp .mv_tashayori {
	position: absolute;
	top: 40%;
	left: 1%;
	z-index: 0;
	width: 60vw;
}
header.header .mv-sp .mv_tv {
	position: absolute;
	bottom: 8%;
	left: 12%;
	z-index: 1;
	width: 25vw;
}
header.header .mv-sp .mv_zero {
	position: absolute;
	top: 20%;
	left: 52%;
	z-index: 5;
	width: 45vw;
}
header .top-area .top-area__inner {
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .top-area .top-area__inner h1 {
	flex-basis: 40%;
	max-width: 40%;
	width: 40%;
}
@media screen and (max-width: 999px) {
	header .top-area .top-area__inner h1 {
		flex-basis: 40%;
		max-width: 40%;
		width: 40%;
	}
}
@media screen and (max-width: 767px) {
	header .top-area .top-area__inner h1 {
		flex-basis: 100%;
		max-width: 100%;
		width: 100%;
	}
}
header .top-area .top-area__inner .contact-box {
	display: flex;
	justify-content: space-around;
}
header .top-area .top-area__inner .contact-box .contact__tel {
	display: flex;
	flex-direction: column;
	margin-right: 1em;
}
header
	.top-area
	.top-area__inner
	.contact-box
	.contact__tel
	.contact__tel__inner {
	margin-bottom: auto;
}
header .top-area .top-area__inner .contact-box .tel {
	color: #cd1010;
	font-size: 3rem;
	font-weight: bold;
}
@media screen and (max-width: 999px) {
	header .top-area .top-area__inner .contact-box .tel {
		font-size: 2.5vw;
	}
}
header .top-area .top-area__inner .contact-box .contact__button {
	text-align: center;
}
header .top-area .top-area__inner .contact-box .contact__button a {
	display: block;
	padding: 1em;
	background-color: #e92617;
	border: 0.5px solid #e92617;
	color: #fff;
	width: 25vw;
	max-width: 250px;
	transition: 0.3s;
	position: relative;
}
header .top-area .top-area__inner .contact-box .contact__button a:hover {
	background: #fff;
	color: #e92617;
}
header .top-area .top-area__inner .contact-box .contact__button a:hover:before {
	border-top: 10px solid #e92617;
	left: 8%;
}
header .top-area .top-area__inner .contact-box .contact__button a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(-5%, -50%) rotate(-90deg);
	border: 10px solid transparent;
	border-top: 10px solid #fff;
	transition: 0.3s;
}
header .main-visual {
	background: url(/assets/img/main_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
header .main-visual .main-visual__inner {
	position: relative;
	max-height: 494px;
	height: 494px;
}
@media screen and (max-width: 767px) {
	header .main-visual .main-visual__inner {
		height: 80vw;
	}
}
header .main-visual .main-visual__inner .main_copy1 {
	position: absolute;
	left: 3em;
	top: 3em;
}
@media screen and (max-width: 800px) and (min-width: 768px) {
	header .main-visual .main-visual__inner .main_copy1 {
		width: 60%;
	}
}
@media screen and (max-width: 767px) {
	header .main-visual .main-visual__inner .main_copy1 {
		left: 50%;
		top: 2%;
		transform: translateX(-50%);
		width: 80%;
	}
}
header .main-visual .main-visual__inner .main_copy2 {
	position: absolute;
	left: 4em;
	top: 14em;
}
@media screen and (max-width: 800px) and (min-width: 768px) {
	header .main-visual .main-visual__inner .main_copy2 {
		width: 55%;
	}
}
@media screen and (max-width: 767px) {
	header .main-visual .main-visual__inner .main_copy2 {
		left: 1%;
		top: 40%;
		width: 70%;
	}
}
header .main-visual .main-visual__inner .main_josei {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}
@media screen and (max-width: 920px) and (min-width: 768px) {
	header .main-visual .main-visual__inner .main_josei {
		width: 30%;
	}
}
@media screen and (max-width: 767px) {
	header .main-visual .main-visual__inner .main_josei {
		width: 30%;
	}
}
header .main-visual .main__text__wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(3, 57, 99, 0.9);
}
header .main-visual .main__text__wrap .main__text {
	font-size: 5rem;
	padding: 0.7em 0;
	margin-left: 2em;
	color: #fff;
}
@media screen and (max-width: 767px) {
	header .main-visual .main__text__wrap .main__text {
		font-size: 2.5rem;
	}
}
header .main-visual .main__text__wrap .main__text span {
	font-weight: bold;
	color: yellow;
}
header .main-image {
	width: 100%;
}
.contact-section {
	margin-bottom: 5em;
	background: url(../img/bg_form.png);
	padding: 50px 0;
}
@media screen and (max-width: 767px) {
	.contact-section {
		margin-bottom: 1em;
	}
}
.contact-section .midashi {
	text-align: center;
	position: relative;
	z-index: 0;
}
.contact-section form {
	position: relative;
	z-index: 1;
	margin-top: -100px;
}
@media screen and (max-width: 767px) {
	.contact-section form {
		padding: 1%;
		margin-top: -40px;
	}
}
.contact-section table {
	margin: 0 auto 2em;
	border: 1px solid #666;
	width: 100%;
}
@media screen and (max-width: 767px) {
	.contact-section table {
		width: 100%;
	}
	.contact-section table th,
	.contact-section table td {
		display: block;
	}
}
.contact-section table tr th {
	padding: 1.5em 1em;
	background-color: #f9f9f9;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
	width: 400px;
}
@media screen and (max-width: 767px) {
	.contact-section table tr th {
		width: 100%;
	}
}
.contact-section table tr th .th__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-section table tr th span {
	display: block;
}
.contact-section table tr th .hissu {
	width: 50px;
	padding: 0.5em;
	background-color: #ff0000;
	color: #fff;
}
.contact-section table tr td {
	text-align: left;
	padding: 1.5em 1em;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
	background: white;
}
.contact-section table tr td input[type='text'],
.contact-section table tr td input[type='email'],
.contact-section table tr td input[type='tel'],
.contact-section table tr td textarea {
	width: 100%;
	background: #fff3f2;
	border: 1px solid #ccc;
	padding-left: 10px;
	font-size: 16px;
}
.contact-section table tr td input[type='text'],
.contact-section table tr td input[type='email'],
.contact-section table tr td input[type='tel'] {
	height: 35px;
}
.contact-section table tr td label {
	margin-bottom: 1em;
}
.contact-section table tr .plan {
	display: flex;
	flex-flow: wrap;
	text-align: left;
}
.contact-section table tr .plan > * {
	flex-basis: 50%;
	width: 50%;
}
.contact-section table tr:last-child th,
.contact-section table tr:last-child td {
	border-bottom: none;
}
.contact-section .submit__button__wrapper {
	text-align: center;
}
.contact-section .submit__button {
	max-width: 100%;
}
.contact-section .submit__button:hover {
	opacity: 0.7;
}
footer .footer__box {
	display: flex;
}
@media screen and (max-width: 767px) {
	footer .footer__box {
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
footer .footer__box > * {
	margin-right: 1em;
}
@media screen and (max-width: 767px) {
	footer .footer__box > * {
		margin-right: 0;
		flex-basis: 100%;
		width: 100%;
	}
}
footer .footer__box > *:nth-child(1) img {
	width: 200px;
}
@media screen and (max-width: 767px) {
	footer .footer__box > *:nth-child(1) {
		margin-right: 0;
		margin: 0 auto;
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 1em;
	}
	footer .footer__box > *:nth-child(1) img {
		width: 30vw;
	}
}
footer .footer__box .company_info {
	margin-bottom: 2em;
}
footer .footer__box .company_info h3 {
	font-size: 1.5rem;
	font-weight: bold;
}
footer .footer__box .company_info a {
	color: blue;
}
.cv-section {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.cv-section .cv__box {
	display: flex;
}
.cv-section .cv__box > * {
	flex-basis: 50%;
	display: flex;
	align-items: center;
}
.cv-section .cv__box > * a {
	display: flex;
	color: #fff;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 3% 0;
	width: 100%;
}
.cv-section .cv__box > * a img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.cv-section .cv__box .cv__box--left {
	background-color: #a90b0b;
}
.cv-section .cv__box .cv__box--right {
	background-color: #033963;
}
.fixed_conversion_pc {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}
.fixed_conversion_pc > * {
	width: 150px;
}
.fixed_conversion {
	position: fixed;
	bottom: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.fixed_conversion {
		left: 50%;
		transform: translateX(-50%);
	}
}
.fixed_conversion > * {
	width: 50%;
	flex-basis: 50%;
	padding: 3%;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	line-height: 1.6;
}
@media screen and (max-width: 959px) {
	html {
		font-size: 60%;
	}
}
@media screen and (max-width: 767px) {
	html {
		font-size: 55%;
	}
}
body {
	padding-bottom: 300px;
	font-size: 1.4em;
}
@media screen and (max-width: 767px) {
	body {
		margin-bottom: 60px;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding-bottom: 100px;
	}
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	opacity: 0.8;
}
img {
	max-width: 100%;
}
p {
	line-height: 1.6;
}
main {
	display: block;
}
@media screen and (max-width: 767px) {
	.only-pc {
		display: none !important;
	}
}
@media screen and (min-width: 768px) {
	.only-sp {
		display: none !important;
	}
}
.container {
	width: 960px;
	margin: 0 auto;
}
@media screen and (max-width: 959px) {
	.container {
		width: 100%;
		padding: 10px;
	}
}
section {
	position: relative;
	overflow: hidden;
}
.section-riyuu {
	padding: 50px 0 120px;
	background-image: url('../img/bg_beju_kaku.png');
	background-size: 100% 100%;
}
.section-riyuu .midashi {
	text-align: center;
}
.section-riyuu .riyuu__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.section-riyuu .riyuu__box > * {
	flex-basis: 25%;
	max-width: 25%;
	padding: 1%;
}
@media screen and (max-width: 767px) {
	.section-riyuu .riyuu__box > * {
		flex-basis: 50%;
		max-width: 50%;
	}
}
.section-pack {
	margin-top: -65px;
}
.section-pack .midashi {
	background: url('../img/pack_fubuki.png');
	background-size: cover;
	margin-bottom: 3em;
}
.section-pack .pack_catch {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 3em;
}
.section-pack .pack-image__wrapper {
	margin-bottom: 3em;
}
.section-pack .pack__description {
	line-height: 2;
	font-size: 1.6rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1em;
}
.section-pack .pack__hinmoku_midashi {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1em;
}
.section-pack .pack__hinmoku {
	line-height: 1.6;
	font-size: 1.6rem;
	margin-bottom: 1em;
}
.section-pack .pack__hinmoku .hinmoku__title {
	font-weight: bold;
}
.section-pack .pack-plan__wrapper {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section-pack .pack-plan__wrapper > * {
	max-width: 50%;
	flex-basis: 50%;
	padding: 1%;
	margin-bottom: 2em;
}
@media screen and (max-width: 767px) {
	.section-pack .pack-plan__wrapper > * {
		max-width: 100%;
		flex-basis: 100%;
	}
}
.section-pack .pack-tokyokaijo__box {
	background: url('../img/bg_beju.png');
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
	margin-top: -80px;
	text-align: center;
}
.section-pack .pack-tokyokaijo__box .pack-tokyokaijo-image__wrapper {
	margin-bottom: 2em;
}
.section-pack .pack__houmon-text {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2em;
}
.section-area {
	background: url('../img/bg_yellow.png');
	background-size: 100% 100%;
	padding: 50px 0 120px;
}
@media screen and (max-width: 767px) {
	.section-area {
		padding: 30px 0 80px;
	}
}
.section-area .midashi {
	text-align: center;
	margin-bottom: 2em;
}
@media screen and (max-width: 767px) {
	.section-area .midashi img {
		width: 50vw;
	}
}
.section-area .area-area-catch {
	margin-bottom: 2em;
}
.section-area img {
	margin-bottom: 2em;
}
.section-area .area__box {
	margin-bottom: 3%;
}
.section-area .area__box .area__midashi {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1%;
}
.section-area .area__box .area__lists {
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	background: white;
	list-style: disc;
	border: 3px solid #000;
	border-radius: 5px;
	list-style: none;
}
.section-area .area__box .area__lists li {
	padding: 1% 2% 1% 0;
	margin-right: 1.5%;
	margin-bottom: 1%;
}
.section-step {
	margin-top: -100px;
	padding-bottom: 50px;
}
.section-step .midashi {
	text-align: center;
	margin-bottom: 2em;
}
.section-step .step-steps {
	margin-bottom: 5em;
}
.section-step .step-steps .step_steps__wrapper {
	text-align: center;
}
.section-qa {
	padding: 50px 0;
	background: #70b4e1;
}
.section-qa .midashi {
	text-align: center;
	margin-bottom: 2em;
}
.section-qa .qa {
	background: white;
	padding: 3%;
	border-radius: 10px;
	margin-bottom: 4em;
}
.section-qa .qa .qa__q {
	margin-bottom: 2em;
	align-items: center;
	font-weight: bold;
}
.section-qa .qa .qa__q .qq__text {
	font-size: 1.6rem;
}
.section-qa .qa .qa__q,
.section-qa .qa .qa__a {
	display: flex;
}
.section-qa .qa .qa__q .qa__midashi,
.section-qa .qa .qa__a .qa__midashi {
	margin-right: 1em;
	flex-shrink: 0;
}
@media screen and (max-width: 767px) {
	.section-qa .qa .qa__q .qa__midashi,
	.section-qa .qa .qa__a .qa__midashi {
		width: 30px;
	}
}
.section-uservoice {
	padding: 50px 0;
}
.section-uservoice .midashi__box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-uservoice .midashi__box h2 {
	margin: 0 3em;
}
.section-uservoice .uservoices {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 3em;
}
.section-uservoice .uservoices .uservoice {
	flex-basis: 48%;
	max-width: 48%;
	padding: 1%;
	margin: 1%;
	border: 3px solid #000;
	position: relative;
	background: #fff;
}
@media screen and (max-width: 767px) {
	.section-uservoice .uservoices .uservoice {
		flex-basis: 100%;
		max-width: 100%;
	}
}
.section-uservoice .uservoices .uservoice:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color: #faf3d8 transparent transparent transparent;
	position: absolute;
	top: -4px;
	left: -4px;
}
.section-uservoice .uservoices .uservoice:before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: -4px;
	left: -4px;
	background: #000;
}
.section-uservoice .uservoices .uservoice .uservoice__inner {
	border: 1px dotted #000;
	padding: 5%;
	padding-bottom: 10%;
}
.section-uservoice .uservoices .uservoice .uservoice__inner .uservoice__text {
	font-size: 1.5rem;
}
.section-uservoice .uservoices .uservoice .uservoice__inner .uservoice_info {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: skyblue;
	color: white;
	padding: 5px 20px;
}
.section-uservoice
	.uservoices
	.uservoice
	.uservoice__inner
	.uservoice_info--male {
	background: #43a9ed;
}
.section-uservoice
	.uservoices
	.uservoice
	.uservoice__inner
	.uservoice_info--female {
	background: #ff5400;
}
.line-outer {
	position: fixed;
	bottom: 114px;
	width: 100%;
	z-index: 100;
}
.line {
	/* color: #fff; */
	width: 100%;
	background: green;
	text-align: center;
	padding: 14px;
	/* margin-bottom: 14px; */
}
.line a {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
}

/*# sourceMappingURL=style.css.map */
